<!--MENU-->
<div class="ui inverted menu">
    <a class="active item">Home</a>
    <a class="item">Scrape New Articles</a>
    <a class="item">Saved Articles</a>
</div>

<div class="ui container">
<!--HEADER-->
<h2 class="ui aligned center icon header">
    <i class="music icon"></i>
    <div class="content">
        <p>All Ears</p>
        <div class="sub header"><p id="subHeader">Latest music news in one place</p></div>
    </div>
</h2>

<!--ARTICLES-->
{{#each article}}

<table class="ui selectable table">
    <thead>
        <tr>
            <th>{{this.title}}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{this.summary}}</td>
        </tr>
        <tr>
            <td><a href="{{this.link}}"><i class="newspaper icon"></i>View Article</a></td>
        </tr>
        <tr>
            <td>
                <div id="addComment" class="ui basic buttons">
                    <div class="ui right button">
                        <i class="write icon"></i>Add a Comment
                    </div>
                </div>
                <div id="viewComments" class="ui basic buttons">
                    <div class="ui right button">
                        <i class="comments outline icon"></i>View Comments
                    </div>
                </div>
                <div id="add" class="ui basic buttons">
                    <div id="add" class="ui right button">
                        <i class="newspaper icon"></i>Save Article
                    </div>
                </div>
            </td>
    </tbody>
</table>
<br>

<!--COMMENT MODAL-->
<div class="ui modal" id="comment">
    <div class="ui form" id="form-add-{{_id}}" action="add/comment/{{_id}}" method="post">
        <div class="field">
            <label>Short Text</label>
            <textarea id="bodyInput" rows="4"></textarea>
        </div>
    </div>
    <div id="save" class="ui basic buttons" data-id="{{_id}}" type="submit" value="Submit">
        <div id="save" class="ui right button">
            Save Comment
        </div>
    </div>
</div>

<!--VIEW COMMENTS MODAL-->
<div class="ui modal" id="view">
    {{#each comments}}
    <div class="header">{{title}}</div>
    <div class="content">
        <p>{{comment}}</p>
    </div>
    <div id="delete" class="ui basic buttons" id="form-delete-{{_id}}" action="remove/comment/{{_id}}" method="post">
        <div id="delete" class="ui right button">
            Delete Comment
        </div>
    </div>
     {{/each}}
</div>



{{/each}}

</div>


